{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HackerTyper Clone</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
    <script src="/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/js/Queue.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68531230-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body>
<div id="view_wrapper">
    <span id="first"></span>
    <span id="cursor">|</span>
</div>
</body>
</html>